.env
.kiro
.vscode
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.idea

# Media files
/backend/genfit_django/media/profile_pictures/*
!/backend/genfit_django/media/profile_pictures/default.png

node_modules/
.DS_Store
bounswe2025group2.wiki/
